---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="bg-green-700 text-white py-4 text-center">
		<h1 class="text-4xl font-bold">WikiAnimal</h1>
	</header>

	<nav class="bg-green-600 p-4 text-white">
		<ul class="flex justify-center gap-4">
			<li><a href="/" class="hover:underline">Inicio</a></li>
			<li><a href="/Prehistoria" class="hover:underline">Animales Prehistoricos</a></li>
		</ul>
	</nav>

	<main class=" flex-grow grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 p-4">
		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<a href="/Mary">
				<h2 class="text-2xl font-semibold"> Mary Anning (1799-1847) <br />Descubridora de f贸siles clave</h2>
			</a>
			<p>
				Fue una paleont贸loga y coleccionista de f贸siles brit谩nica, aunque sin reconocimiento oficial en su tiempo Su trabajo ayud贸 a comprender la extinci贸n y la evoluci贸n de especies prehist贸ricas, influyendo en teor铆as como las de Darwin.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<a href="/Darwin">
				<h2 class="text-2xl font-semibold"> Charles Darwin (1809-1882) <br />Teor铆a de la Evoluci贸n</h2>
			</a>
			<p>
				Fue un naturalista brit谩nico que desarroll贸 la teor铆a de la evoluci贸n por selecci贸n natural n su libro "El origen de las especies" (1859), explic贸 c贸mo los organismos evolucionan y se adaptan a su entorno con el tiempo.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<a href="/Mendel">
				<h2 class="text-2xl font-semibold">К Gregor Mendel (1822-1884) <br />Padre de la Gen茅tica</h2>
			</a>
			
			<p>
                Fue un monje y cient铆fico austr铆aco que experiment贸 con guisantes y descubri贸 las leyes de la herencia Sus experimentos pasaron desapercibidos hasta el siglo XX, cuando fueron reconocidos como la base de la gen茅tica moderna.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">James Hutton (1726-1797) <br />Padre de la Geolog铆a Moderna</h2>
			<p>
				Fue un ge贸logo escoc茅s que propuso la teor铆a del uniformismo, que sostiene que los procesos geol贸gicos actuales han ocurrido de la misma manera en el pasado Su obra "Teor铆a de la Tierra" sent贸 las bases de la geolog铆a moderna.
			</p>
		</article>
	</main>

	<footer class="bg-gray-800 text-white text-center py-4">
		<p>漏 2025 Este es un proyecto educativo usando librer铆as de uso p煤blico.</p>
	</footer>
</Layout>
