---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="bg-green-700 text-white py-4 text-center">
		<h1 class="text-4xl font-bold">WikiAnimal</h1>
	</header>

	<main class=" flex-grow grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 p-4">
		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<a href="/Cientificos">
				<h2 class="text-2xl font-semibold  hover:text-blue-200 transition-colors">Principales Exponentes</h2>
			</a>
			<p>
				Biografías breves de científicos como Charles Darwin, Carl Linnaeus, Richard Owen, Mary Anning, entre otros.
				<br>Sus aportes clave a la biología y paleontología.
				<br>Impacto de sus descubrimientos en la actualidad.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<a href="/Geologicas">
				<h2 class="text-2xl font-semibold  hover:text-blue-200 transition-colors">Edades Geológicas</h2>
			</a>
			<p>
				Descripción de cada era geológica: Precámbrico, Paleozoico, Mesozoico, Cenozoico.
				<br>Principales eventos de cada era (extinciones masivas, evolución de especies).
				<br>Gráficos o ilustraciones con líneas de tiempo.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<a href="/Animales">
				<h2 class="text-2xl font-semibold  hover:text-blue-200 transition-colors">Animales</h2>
			</a>
			<p>
				Comparación entre especies modernas y sus ancestros prehistóricos.
				<br>nformación sobre evolución y adaptación.
				<br>Datos curiosos sobre especies actuales.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<a href="/Prehistoria">
				<h2 class="text-2xl font-semibold hover:text-blue-200 transition-colors">Animales Prehistoricos</h2>
			</a>
			<p>
				Detalle de grupos de animales prehistóricos: dinosaurios, mamíferos prehistóricos, invertebrados extintos.
				<br>Relación de estos animales con sus descendientes modernos.
				<br>Imágenes o reconstrucciones de fósiles.
			</p>
		</article>
	</main>

	<footer class="bg-gray-800 text-white text-center py-4">
		<p>© 2025 Este es un proyecto educativo usando librerías de uso público.</p>
	</footer>
</Layout>
