---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="bg-green-700 text-white py-4 text-center">
		<h1 class="text-4xl font-bold">WikiAnimal</h1>
	</header>

	<nav class="bg-green-600 p-4 text-white">
		<ul class="flex justify-center gap-4">
			<li><a href="/" class="hover:underline">Inicio</a></li>
			<li><a href="/Cientificos" class="hover:underline">Cientificos</a></li>
		</ul>
	</nav>

	<main class=" flex-grow grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 p-4">
		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Peces prehistóricos</h2>
			<p>
				En este artículo se retrata a los principales exponentes del campo de la biología que nos permiten entender en la actualidad cómo funciona nuestro mundo y sus aportes.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<h2 class="text-2xl font-semibold">Anfibios primitivos</h2>
			<p>
				Indagaremos en las distintas épocas geológicas que conocemos como humanos.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow">
			<h2 class="text-2xl font-semibold">Reptiles prehistóricos</h2>
			<p>
				Hablaremos de algunas especies modernas.
			</p>
		</article>

		<article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Dinosaurios</h2>
			<p>
				Hablaremos desde los ictiosaurios más grandes hasta los dinosaurios más pequeños.
			</p>
		</article>
        <article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Mamíferos prehistóricos </h2>
			<p>
				Hablaremos desde los ictiosaurios más grandes hasta los dinosaurios más pequeños.
			</p>
		</article>
        <article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Aves primitivas</h2>
			<p>
				Hablaremos desde los ictiosaurios más grandes hasta los dinosaurios más pequeños.
			</p>
		</article>
        <article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Mamiferos Prehistoricos</h2>
			<p>
				Hablaremos desde los ictiosaurios más grandes hasta los dinosaurios más pequeños.
			</p>
		</article>
        <article class="p-4 bg-gray-100 rounded-lg shadow ">
			<h2 class="text-2xl font-semibold">Reptiles Marinos Prehistoricos</h2>
			<p>
				Hablaremos desde los ictiosaurios más grandes hasta los dinosaurios más pequeños.
			</p>
		</article>
	</main>

	<footer class="bg-gray-800 text-white text-center py-4">
		<p>© 2025 Este es un proyecto educativo usando librerías de uso público.</p>
	</footer>
</Layout>
